* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
/* Tüm layoutlarda taşmayı engelle */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Mobilde daha iyi padding */
.container {
  padding: 0 15px;
}

/* Global responsive text */
@media (max-width: 600px) {
  h1,
  h2,
  h3 {
    font-size: 90%;
  }

  p {
    font-size: 95%;
  }
}
